<div id="sidebar">
  <div id="bigBar" class="sticky-top">
    <div class="selYear nav d-none d-lg-block d-xl-block ml-4 mt-2 mt-2">
        <form [formGroup]="yearsForm" class="form-inline">
          <select [(ngModel)]="selectedYear" formControlName="year" id="year" class= "form-control mr-2" (change)="changeYear()">
            <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
          </select>
          <fa-icon class="clickableIcon" [icon]="icons.faPlusSquare" *ngIf="hasRole('Admin')" (click)="createYear()"></fa-icon>
        </form>
    </div>

    <ul class="nav d-none d-lg-block d-xl-block mt-2 mt-4">
      <li *ngIf="hasRole( 'Admin')" (click)="goTo('faculty')" [ngClass]="pages.faculty? 'selected':''">
        <fa-icon [icon]="icons.faUser"></fa-icon>Users
      </li>
      <li  *ngIf="(hasRole( 'Admin') || hasRole('Nominate'))" [ngClass]="pages.committees? 'selected':''" (click)="goTo('committees')">
        <fa-icon [icon]="icons.faUsers"></fa-icon>Committees
      </li>
      <li *ngIf="(hasRole('Normal') || hasRole('Nominate'))" (click)="goTo('survey')" [ngClass]="pages.survey? 'selected':''">
        <fa-icon [icon]="icons.faQuestionCircle"></fa-icon>Survey
      </li>
      <li *ngIf="hasRole( 'Admin')" (click)="goTo('reports')" [ngClass]="pages.reports? 'selected':''">
        <fa-icon [icon]="icons.faChartPie"></fa-icon>Analysis
      </li>
      <li *ngIf="hasRole( 'Admin')"  (click)="goTo('settings')" [ngClass]="pages.settings? 'selected':''">
        <fa-icon [icon]="icons.faCog"></fa-icon>Settings
      </li>
    </ul>

    <div class="modal mt-5 fade" id="createYear" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="Modify">Create New Year: {{newYear}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="closeBtn" aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary closeBtn" aria-hidden="true" data-dismiss="modal" aria-label="Close">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
