/* List */
.List ol {
  counter-reset: index !important;
  padding: 0 !important;
}

/* List element */
.List li {
  counter-increment: index !important;
  display: flex !important;
  align-items: center !important;
  padding: 12px 0 !important;
  box-sizing: border-box !important;
}

td a {
  color: #5e5e5e;
}

/* Element counter */
.List li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.3rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-color: #5e5e5e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Element separation */
.List li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}


/* Css for committeeList */
#committeeList{
  width: 85%;
  margin-left: 8%;
}

#committeeList .card{
  margin-top: 30px!important;
  margin-left: 0px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
  width: 100%!important;
}

#committeeList .card:hover{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
  width: 100%!important;
  -webkit-box-shadow: 0 0 10px rgba(77, 77, 77, .8);
  box-shadow: 0 0 10px rgba(77, 77, 77, .8);
}

#committeeInfo .modal-dialog{
  max-width: 65%!important;
  width: 70%!important;
  margin-left: 25%!important;
  margin-top: 6%;
}

#committeeInfo .modal-dialog .modal-content{
  padding-top: 20px;
  padding-left: 65px;
  padding-right: 45px;
}

#h1 .btn {
  margin-left: 78.8%;
}

#editCommittee{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.clickAble{
  cursor: pointer;
}
