<div class="app-bottom-padded">
  <div class="container mt-5 mb-5">
    <table class="table table-bordered table-striped table-condensed table-compact col-xs-12 col-md-12 col-lg-12">
      <thead>
        <tr>
          <th>Name</th>
          <th *ngFor="let property of ['Criteria','Members','Volunteers','Size','Action']" class="text-center">
            {{property}}
          </th>
        </tr>
      </thead>

      <tbody class="clickable">
        <tr *ngFor="let committee of committees;index as i" [routerLink]="['/uwl/committees', committee.id]" (click)="setCommitteeName(committee.name)" [fragment]="committee.year">
          <td>{{committee?.name}}</td>
          <td class="text-center" *ngIf="committeesCriteriaStatus && committeesCriteriaStatus[i] !== 0">
            <fa-icon [icon]="icons.faTimesCircle" class="app-red"></fa-icon>
          </td>
          <td class="text-center" *ngIf="committeesCriteriaStatus && committeesCriteriaStatus[i] === 0">
            <fa-icon [icon]="icons.faCheckCircle" class="app-green"></fa-icon>
          </td>
          <td class="text-center">{{committee?.numMembers}}</td>
          <td class="text-center">{{committee?.numVolunteers}}</td>
          <td class="text-center">{{committee?.size}}</td>
          <td class="text-center">
            <fa-icon [icon]="icons.faTrash" data-toggle="modal" data-target="#exampleModal"
              (click)="delete(committee, i)" class="app-red"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mb-5">
      <span class="btn btn-primary float-right" data-toggle="modal" (click)="addCommittee()">Add Committee</span>
    </div>
  </div>
</div>
